body {
  background: #D44A39;
  font-family: 'Consolas';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  margin: 10px;
  border-radius: 10px;
  background: #FECF37;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 10px 10px 5px 10px;
}

.calendar {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;
  padding: 0 10px;
  padding-top: 10px;
}

.row {
  display: flex;
}

.hour {
  font-size: 6em;
  margin: 0;
  padding: 0;
  top: 0;
}

.format {
  align-self: flex-end;
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.aspect {
  display: inline-block;
  position: relative;
}

.aspect :first-child {
  width: 100%;
  position: absolute;
  color: #FE9131;
}

.aspect :last-child {
  position: relative;
  color: #D44A39;
}

.aspect p {
  margin: 0;
}

.footer{
  margin-top: 1rem;
  background-color: #D44A39;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@media (max-width: 770px) {

  .clock {
    padding: 6px;
  }

  .calendar, .format {
    font-size: 0.5rem;
  }

  .hour {
    font-size: 3.5rem;
  }
}